.sezione-fauna{
    display: flex;
    padding: 20px;
    margin: 0 auto;
    margin-top: 3rem;
    width: 70%;
    flex-direction: column;
    margin-bottom: 100px;
    
    
}

.container{
    display: flex;
    flex-direction: row;
    height: auto;
    align-items: center;
    padding: 20px;
    
    background-image: linear-gradient(
    to bottom right, 
    rgb(246, 247, 246),  
    rgb(255, 255, 255)
    );
    box-shadow: 5px 0px 8px 0 rgba(0.50, 0.50, 0.50, 0.50),
            -5px 0px 8px 0 rgba(0.50, 0.50, 0.50, 0.50);
    margin-bottom: 30px;
    padding: 2rem;
}
.container-img{
   width: 40%;
   height: 100%;
   
   
  
}

.container-img img{
    
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.container-details{
   width: 60%;
}



.container-details h2{
    margin-left: 20px;
    color: rgb(22, 168, 42);
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 0;
}
.container-details h3{
    margin-left: 20px;
    color: black;
    font-size: 20px;
}

.container-details h2, h3, p{
    margin-left: 20px;
    
}

hr{
   margin-left: 20px; 
}


.descrizione{
    font-size: 17px;
    font-weight: bold;
    color: black;
    width: 100%;
    
    margin-bottom: 20px;
}


@media (max-width: 1600px) {
     .sezione-fauna{
    display: flex;
    padding: 20px;
    margin: 0 auto;
    margin-top: 3rem;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    flex-direction: column;
    margin-bottom: 100px;
    
}

.container{
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    padding: 10px;
    background-image: linear-gradient(
    to bottom right, 
    rgb(246, 247, 246),  
    rgb(255, 255, 255)
    );
    box-shadow: 5px 0px 8px 0 rgba(0.50, 0.50, 0.50, 0.50),
            -5px 0px 8px 0 rgba(0.50, 0.50, 0.50, 0.50);
    margin-bottom: 30px;
    padding: 1rem;
    
}
.container-img{
   width: 80%;
   height: 100%;
   
  
}

.container-img img{
    
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    
}

.container-details{
   width: 90%;
}



.container-details h2{
    margin-left: 0px;
    color: rgb(22, 168, 42);
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 0;
}
.container-details h3{
    margin-left: 0px;
    color: black;
    font-size: 20px;
}

.container-details h2, h3, p{
    margin-left: 0px;
    
}

hr{
   margin-left: 20px; 
}


.descrizione{
    font-size: 17px;
    font-weight: bold;
    color: black;
    width: 100%;
    
    margin-bottom: 20px;
}



    
}



@media (max-width: 1024px) {

     .sezione-fauna{
    display: flex;
    padding: 20px;
    margin: 0 auto;
    margin-top: 3rem;
    width: 100%;
    flex-direction: column;
    margin-bottom: 100px;
    
}

.container{
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    padding: 10px;
    background-image: linear-gradient(
    to bottom right, 
    rgb(246, 247, 246),  
    rgb(255, 255, 255)
    );
    box-shadow: 5px 0px 8px 0 rgba(0.50, 0.50, 0.50, 0.50),
            -5px 0px 8px 0 rgba(0.50, 0.50, 0.50, 0.50);
    margin-bottom: 30px;
    padding: 1rem;
    width: 100%;
}
.container-img{
   width: 90%;
   height: 100%;
   
  
}

.container-img img{
    
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.container-details{
   width: 90%;
   margin-left: 20px;
}



.container-details h2{
    margin-left: 0px;
    color: rgb(22, 168, 42);
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 0;
}
.container-details h3{
    margin-left: 0px;
    color: black;
    font-size: 20px;
}

.container-details h2, h3, p{
    margin-left: 0px;
    
}

hr{
   margin-left: 20px; 
}


.descrizione{
    font-size: 16px;
    font-weight: bold;
    color: black;
    width: 100%;
    
    margin-bottom: 20px;
}



    
}


@media (max-width: 820px) {
     .sezione-fauna{
    display: flex;
    padding: 20px;
    margin: 0 auto;
    margin-top: 3rem;
    width: 90%;
    flex-direction: column;
    margin-bottom: 100px;
    
}

.container{
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    padding: 10px;
    background-image: linear-gradient(
    to bottom right, 
    rgb(246, 247, 246),  
    rgb(255, 255, 255)
    );
    box-shadow: 5px 0px 8px 0 rgba(0.50, 0.50, 0.50, 0.50),
            -5px 0px 8px 0 rgba(0.50, 0.50, 0.50, 0.50);
    margin-bottom: 30px;
    padding: 1rem;
}
.container-img{
   width: 90%;
   height: 100%;
   
  
}

.container-img img{
    
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.container-details{
   width: 90%;
}



.container-details h2{
    margin-left: 0px;
    color: rgb(22, 168, 42);
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 0;
}
.container-details h3{
    margin-left: 0px;
    color: black;
    font-size: 20px;
}

.container-details h2, h3, p{
    margin-left: 0px;
    
}

hr{
   margin-left: 20px; 
}


.descrizione{
    font-size: 16px;
    font-weight: bold;
    color: black;
    width: 100%;
    
    margin-bottom: 20px;
}



    
}



@media (max-width: 768px) {
     .sezione-flora{
    display: flex;
    padding: 20px;
    margin: 0 auto;
    margin-top: 3rem;
    width: 90%;
    flex-direction: column;
    margin-bottom: 100px;
    
}

.container{
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    padding: 10px;
    background-image: linear-gradient(
    to bottom right, 
    rgb(246, 247, 246),  
    rgb(255, 255, 255)
    );
    box-shadow: 5px 0px 8px 0 rgba(0.50, 0.50, 0.50, 0.50),
            -5px 0px 8px 0 rgba(0.50, 0.50, 0.50, 0.50);
    margin-bottom: 30px;
    padding: 1rem;
}
.container-img{
   width: 90%;
   height: 100%;
   
  
}

.container-img img{
    
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.container-details{
   width: 90%;
}



.container-details h2{
    margin-left: 0px;
    color: rgb(22, 168, 42);
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 0;
}
.container-details h3{
    margin-left: 0px;
    color: black;
    font-size: 20px;
}

.container-details h2, h3, p{
    margin-left: 0px;
    
}

hr{
   margin-left: 20px; 
}


.descrizione{
    font-size: 16px;
    font-weight: bold;
    color: black;
    width: 100%;
    
    margin-bottom: 20px;
}



    
}


@media(max-width: 480px){
    .sezione-fauna{
    display: flex;
    padding: 20px;
    margin: 0 auto;
    margin-top: 3rem;
    width: 90%;
    flex-direction: column;
    margin-bottom: 100px;
    
}

.container{
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    padding: 10px;
    background-image: linear-gradient(
    to bottom right, 
    rgb(246, 247, 246),  
    rgb(255, 255, 255)
    );
    box-shadow: 5px 0px 8px 0 rgba(0.50, 0.50, 0.50, 0.50),
            -5px 0px 8px 0 rgba(0.50, 0.50, 0.50, 0.50);
    margin-bottom: 30px;
    padding: 1rem;
}
.container-img{
   width: 100%;
   height: 100%;
   
  
}

.container-img img{
    
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.container-details{
   width: 90%;
}



.container-details h2{
    margin-left: 0px;
    color: rgb(22, 168, 42);
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 0;
}
.container-details h3{
    margin-left: 0px;
    color: black;
    font-size: 20px;
}

.container-details h2, h3, p{
    margin-left: 0px;
    
}

hr{
   margin-left: 20px; 
}


.descrizione{
    font-size: 14px;
    font-weight: bold;
    color: black;
    width: 100%;
    
    margin-bottom: 20px;
}

}
