h2{
    color: black;
    text-align: center;
    font-size: 30px;
    margin: 4rem;
}

#container-gallery{
    width: 80%;
    
    margin: 0 auto;
    margin-bottom: 10%;
    
}

.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content:center
    
     
   
}

.gallery img{
    width: 30%;
    height: auto;
    object-fit: cover;
}


@media (max-width: 1600px) {
    h2 {
        font-size: 28px;
        margin: 3rem auto;
    }

    #container-gallery {
        width: 100%; 
    }

    .gallery img {
    
        width: calc(33.333% - 15px);
        height: 220px;
        object-fit: cover;
    }
}


@media (max-width: 1024px) {
    h2 {
        font-size: 28px;
        margin: 3rem auto;
    }

    #container-gallery {
        width: 100%;
        height: auto; 
    }

    .gallery img {
    
        width: calc(33.333% - 15px);
        height: auto;
        object-fit: cover;
    }
}

@media (max-width: 768px) {
    h2 {
        font-size: 24px;
        margin: 2.5rem auto;
    }

    #container-gallery {
        width: 90%;
    }

    .gallery img {
      
        width: calc(50% - 15px);
        height: 200px;
    }
}


@media (max-width: 480px) {
    h2 {
        font-size: 20px;
        margin: 2rem auto;
    }

    #container-gallery {
        width: 95%;
    }

    .gallery {
        gap: 10px; 
    }

    .gallery img {
        
        width: 100%;
        height: auto; 
    }
}








