/* You can add global styles to this file, and also import other style files */


* {
  box-sizing: border-box;
}


body{
  margin : 0;
  font-family: "Zain", sans-serif;
  font-weight: 200;
  font-style: normal;
  
 
 
  
}